<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/head-stylesheets.ejs") %>
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <h1 class="posts-heading">Latest Posts</h1>
    <%- include("./partials/posts.ejs") %>
    <%- include("./partials/footer.ejs") %>
</body>
</html>